__pycache__
*.pyc
*.json
*.pickle
*.pkl

*.png
*.tar.gz
datasets

*.h5
*.ckpt
*.tfrecords
*.xlsx

*.tsv
*.ckpt.*
checkpoint
*-checkpoint.ipynb

.venv
.idea
exp
pre/~
output

!cnn_dailymail_suenes/test.tsv
!cnn_dailymail_suenes/train.tsv
!cnn_dailymail_suenes/validation.tsv
